@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #181717;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #8a2be2;
    --cor-hover: #3d3c3c;

    --font-size-primaria: 2.25rem;
    --font-size-secundaria: 1.25rem;
    --font-size-terciaria: 1rem;

    --font-family-primaria: "Krona One", sans-serif;
    --font-family-secundaria: "Montserrat", sans-serif;

    --font-weight-primaria: 600;
    --font-weight-secundaria: 400;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    display: flex;
    align-items: center;
    height: 5vh;
    margin: 0 5%;
}

.cabecalho-menu {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.cabecalho-menu-link {
    font-family: var(--font-family-secundaria);
    font-weight: var(--font-weight-secundaria);    
    font-size: var(--font-size-secundaria);
    color: var(--cor-terciaria);
    text-decoration: none;
}

main {
    height: 91vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin: 0 5%;
    gap: 2rem;
}

.esquerda-tela {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;   
}

.titulo {
    font-size: var(--font-size-primaria);
    font-family: var(--font-family-primaria);
    font-weight: var(--font-weight-primaria);    
}

.paragrafo {
    font-size: var(--font-size-terciaria);
    font-family: var(--font-family-secundaria);
    font-weight: var(--font-weight-secundaria);
}

strong {
    color: var(--cor-terciaria);
}

.titulo-botoes{
    font-family: var(--font-family-secundaria);
    font-weight: var(--font-weight-primaria);
    font-size: var(--font-size-secundaria);
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.botao {
    font-family: var(--font-family-secundaria);
    font-weight: var(--font-weight-secundaria);
    border: 2px solid var(--cor-terciaria);
    color: var(--cor-secundaria);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    width: 150px;
    padding: .5rem 0;        
    text-decoration: none;
    text-align: center;    
    border-radius: .5rem;
}

.botao:hover {
    background-color: var(--cor-hover);
}

.botao img {
    height: 1.25rem;
    width: 1.25rem;
}

.direita-tela {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.direita-tela img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.rodape {
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);    
}

.texto-rodape {
    font-family: var(--font-family-primaria);
    font-weight: var(--font-weight-secundaria);
    font-size: var(--font-size-terciaria);
}

@media (max-width: 1022px) {
    .cabecalho {
        justify-content: center;
    }

    main {
        flex-direction: column-reverse;
        height: auto;
    }

    .direita-tela {
        width: auto;
        margin-top: 20px;
    }

    .esquerda-tela {
        width: auto;
        margin-bottom: 20px;
    }

    .direita-tela img {
        margin: auto;
        height: 70%;
        width: 70%;
    }

    .botao {
        align-items: center;
        justify-content: center;
    }

}
