@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #181717;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #8a2be2;
    --cor-hover: #3d3c3c;

    --font-size-primaria: 32px;
    --font-size-secundaria: 20px;
    --font-size-terciaria: 16px;

    --font-family-primaria: "Krona One", sans-serif;
    --font-family-secundaria: "Montserrat", sans-serif;

    --font-weight-primaria: 600;
    --font-weight-secundaria: 400;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 1vh 0 0 100px;
}

.cabecalho-menu {
    display: flex;
    gap: 40px;
}

.cabecalho-menu-link {
    font-family: var(--font-family-secundaria);
    font-weight: var(--font-weight-primaria);
    font-size: var(--font-size-secundaria);
    color: var(--cor-terciaria);

    text-decoration: none;
}

main {
    height: 92vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    margin: 0 100px;
    gap: 30px;
}

.esquerda-tela {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: start;
}

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.titulo {
    font-size: var(--font-size-primaria);
    font-family: var(--font-family-primaria);
    font-weight: var(--font-weight-primaria);    
}

.paragrafo {
    font-size: var(--font-size-terciaria);
    font-family: var(--font-family-secundaria);
    font-weight: var(--font-weight-secundaria);
}

strong {
    color: var(--cor-terciaria);
}

.subtitulo-botoes{
    font-family: var(--font-family-secundaria);
    font-weight: var(--font-weight-primaria);
    font-size: var(--font-size-secundaria);
}

.botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.botao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 2px solid var(--cor-terciaria);
    width: 200px;
    padding: 10px 0;
    color: var(--cor-secundaria);    
    text-decoration: none;
    text-align: center; 
    font-family: var(--font-family-secundaria);
    font-weight: var(--font-weight-secundaria);
    border-radius: 8px;
}

.botao:hover {
    background-color: var(--cor-hover);
}

.botao img {
    height: 20px;
    width: 20px;
}

.direita-tela {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

img {
    height: 472px;
    width: 375px;
    border-radius: 16px;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    height: 4vh;
}

.texto-rodape {
    font-family: var(--font-family-primaria);
    font-weight: var(--font-weight-primaria);
    font-size: var(--font-size-terciaria);
}
