* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    height: 100vh;
    padding: 0 150px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5vh;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
}

footer {
    height: 5vh;
    text-align: center;
}

img {
    height: 400px;
    width: 400px;
}