* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
}

main {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

img {
    height: 500px;
    width: 80%;
}

